In [1]:
import pandas as pd
df = pd.read_csv('datasets/flattenedClimbs.csv', header=None).astype(bool)
df

,0,1,2,3,4,5,6,7,8,9,...,188,189,190,191,192,193,194,195,196,197
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11901,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11902,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
11903,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
11904,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11905,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [2]:
grades = pd.read_csv('datasets/grades.txt', names=['grade'])
grades

       grade
0         12
1          5
2          4
3          4
4         16
...      ...
11901      7
11902      8
11903      5
11904      5
11905     12

[11906 rows x 1 columns]

In [3]:
from sklearn.model_selection import train_test_split
df_train, df_test, grades_train, grades_test = train_test_split(df, grades)

In [4]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(df_train, grades_train)

In [5]:
grades_pred = clf.predict(df_test)
grades_pred

array([ 4,  8, 13, ...,  6,  4,  8])

In [6]:
clf.score(df_test, grades_test)

0.2966073228081962